<link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/application.css">
<h3 class="title">Register</h3>
<% if error_message %>
  <div class="error">
    <%= error_message %>
  </div>
<% end %>
<form method="post" action="/register">
  <table>
    <tr>
      <td class="column2">Email</td>
      <td><input class="column1" type="text" name="Email"></td>
    </tr>


    <tr>
      <td class="column2">Password</td>
      <td><input class="column1" type="password" name="Password"></td>
    </tr>
    <tr>
      <td class="column2">Password Confirmation</td>
      <td><input class="column1" type="password" name="Password_Confirmation"></td>
    </tr>
    <tr>
      <td class="column2"></td>
      <td><input class="column1 button" type="submit" value="Register"></td>
    </tr>
  </table>
</form>

